[Unit]
Description=OPTION 1 MIN BINARY
After=network.target

[Service]
User=vova
Group=vova

WorkingDirectory=/home/vova/Options/Binary/1min/
Environment="PYTHONPATH=/home/vova/Options/Binary/1min/"
ExecStart=/home/vova/Options/Binary/1min/venv/bin/python3.11 /home/vova/Options/Binary/1min/bot.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target