[Unit]
Description=OPTION 1 MIN OTC
After=network.target

[Service]
User=vova
Group=vova

WorkingDirectory=/home/vova/Options/OTC/1min/
Environment="PYTHONPATH=/home/vova/Options/OTC/1min/"
ExecStart=/home/vova/Options/OTC/1min/venv/bin/python3.11 /home/vova/Options/OTC/1min/bot.py
Restart=on-failure

[Install]
WantedBy=multi-user.target