[Unit]
Description=OPTION 10 MIN OTC
After=network.target

[Service]
User=vova
Group=vova

WorkingDirectory=/home/vova/Options/OTC/10min/
Environment="PYTHONPATH=/home/vova/Options/OTC/10min/"
ExecStart=/home/vova/Options/OTC/10min/venv/bin/python3.11 /home/vova/Options/OTC/10min/bot.py
Restart=on-failure
RestartSec=10
[Install]
WantedBy=multi-user.target