[Unit]
Description=Binodex 3m OTC
After=network.target

[Service]
Type=simple
User=vova
WorkingDirectory=/home/vova/Binodex/BinoOptions
Environment="TIMEFRAME=3m" "BINARY=false" "TEST=false"
ExecStart=/home/vova/Binodex/BinoOptions/venv/bin/python3.11 main.py
Restart=no
RestartSec=10

[Install]
WantedBy=multi-user.target
