[Unit]
Description=Option Bot %i
After=network.target

[Service]
Type=simple
User=vova
WorkingDirectory=/home/vova/Binodex/BinoOptions
ExecStart=/home/vova/Binodex/BinoOptions/venv/bin/python3.11 main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
