[Unit]
Description=Option Bot 1m Binary
After=network.target

[Service]
Type=simple
User=vova
WorkingDirectory=/home/vova/Binidex/BinoOptions
Environment="TIMEFRAME=1m" "BINARY=true" "TEST=false"
ExecStart=/home/vova/Binidex/BinoOptions/venv/bin/python3.11 main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

